<%- include('partials/header') -%>

<div class="container my-4">
  <h2><%= title %></h2>
  <p><%= [...new Set(results.map(item => item.cpt_code))].join(", ") %></p>
  

<!-- Pivot Table Card -->
<% if (pivotResults && pivotResults.length > 0) { %>

    <%- include("partials/summaryTable", {
        data: pivotResults,       
        showDisputeColumn: true,
        showBilledColumn: true,
        showLetterBtn: true }) %>
  <% } %>
</div>

  <!-- Raw Data Table Card -->
  <%- include("partials/rawDataTable", { results }) %>


<% if (results && results.length > 0) { %>
  <script>
    window.pivotData = <%- JSON.stringify(pivotResults) %>;
    window.showBilledCharges = true;
    window.billedChargesMap = <%- JSON.stringify(pivotResults.reduce((acc, row) => {
      acc[row.cpt_code] = row.billedCharges;
      return acc;
    }, {})) %>;
  </script>
<% } %>

<script type="module" src="/js/main.js"></script>
<%- include('partials/footer') -%>