<%- include('partials/header') -%>

<div class="container my-4">
  <h2><%= title %></h2>

  <!-- Search Form -->
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <form id="input-cpt-code" action="/search" method="get" class="mb-0">
        <div class="mb-3">
          <label for="hospital" class="form-label">Select Hospital:</label>
          <select class="form-select" name="hospital" id="hospital" required>
            <option value=""></option>
            <option value="nch_data" <%= hospital === 'nch_data' ? 'selected' : '' %>>Nationwide Children’s Hospital</option>
            <option value="osu_data" <%= hospital === 'osu_data' ? 'selected' : '' %>>OSU Medical Center</option>
            <option value="riversideMethodist_data" <%= hospital === 'riversideMethodist_data' ? 'selected' : '' %>>Riverside Methodist</option>
            <option value="mount-carmel-dublin" <%= hospital === 'mount-carmel-dublin' ? 'selected' : '' %>>Mount Carmel Dublin</option>
            <option value="cleveland-clinic-main-campus" <%= hospital === 'cleveland-clinic-main-campus' ? 'selected' : '' %>>Cleveland Clinic Main Campus</option>
          </select>
        </div>

        <h3 class="card-title mb-3">Search CPT Codes</h3>
        <div class="mb-3">
          <label for="code" class="form-label">Enter CPT Code(s): </label>
          <input type="text" class="form-control" name="code" id="code" placeholder="e.g. 99213, 99285, 99281" value="<%= codes || '' %>">
        </div>

        <div class="d-flex gap-2">
          <% if(!results || results.length === 0) { %>
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/upload" class="btn btn-secondary">Import File...</a>
          <% } %>
        </div>
      </form>
    </div>
  </div>

  <!-- Summary Table -->
  <% if (results && results.length > 0) { %>
    
    <%- include("partials/summaryTable", {
          data: results,       
          showDisputeColumn: false,
          showBilledColumn: false,
          showLetterBtn: false}) %>

  <% } %>

    <!-- Raw Data Table -->
    <%- include('partials/rawDataTable', { results }) %>
</div>

<% if (results && results.length > 0) { %>
  <script>
    window.pivotData = <%- JSON.stringify(results) %>;
  </script>
<% } %>

<script type="module" src="/js/main.js"></script>

<%- include('partials/footer') -%>